#contact {
  width: 20rem;
  /* フォントを’ab-kirigirisu’に指定する */
  font-family: ab-kirigirisu, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: #d6bda5;
  text-align: center;
  margin: 3rem auto 3rem auto;
}

/* ------------------------ header --------------------- */
header {
  margin-bottom: 10%;
}

/* ------------------------ main ----------------------- */
main {
  position: relative;
}

#contactWrap {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.contact_name,
.contact_phone,
.contact_email,
.contact_date,
.contact_time {
  /* フォントを追加（Zen Maru Gothic） */
  font-family: zen-maru-gothic, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.contact_name span,
.contact_phone span,
.contact_email span,
.contact_date span,
.contact_time span {
  color: rgb(171, 78, 69);
  font-size: 0.8rem;
}

label {
  margin-top: 5%;
}

.contact_name,
.contact_phone,
.contact_email,
.contact_date,
.contact_time,
.contact_menu,
#requestMenu {
  font-size: 0.9rem;
}

.contact_menu {
  margin-top: 32%;
}

#name,
#phone,
#email {
  width: 75%;
  background-color: #ece3d9;
  border-radius: 10px;
}

#message {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  padding-top: 4%;
  padding-left: 4%;
  background-color: #ece3d9;
  border-radius: 10px;
}

#requestMenu {
  margin-top: 2rem;
}

#date {
  font-size: 0.875rem;
}

.select_menu {
  color: #d6bda5;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.choices {
  width: 100%;
  font-size: 0.875rem;
}

.choices_input {
  margin-right: 3%;
}

#other-contacts {
  color: #d6bda5;
  font-size: 0.8rem;
  margin-top: 4rem;
}

#button {
  display: block;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 4rem auto 10rem auto;
  font-size: 0.9rem;
  background-color: #d6bda5;
  box-shadow: 2px 2px 2px #927b66;
}

/* ------カーソルが乗った時にじんわりと半透明に変わる */
#button:hover {
  opacity: 0.9;
}

/* --------------クリック時にボタンが凹む--------- */
#button:active {
  box-shadow: 0 1px #64677a;
  transform: translateY(3px);
}
