/* ------------------------ header --------------------- */
header {
  margin-bottom: 10%;
}

/* ---------------main--------------- */

/*------------------- ハンバーガーナビゲーション ----------------*/
#hum_effectItem a {
  position: relative;
  text-align: right;
  font-size: 0.875rem;
}
/* ---------------　メニューバー　------------------ */

#effectItem {
  position: sticky; /*上部に固定*/
  top: 0;
  width: 90%;
  height: 2.5rem;
  background-color: rgb(240, 233, 187);
  border-radius: 10px;
  padding-top: 0.5rem;
  margin: 0 auto 5rem auto;
  display: flex;
  justify-content: space-around;
}

#effectItem a {
  position: relative;
  color: inherit; /* 親要素のテキストカラーを継承 */
  padding-bottom: 2px;
  text-decoration: none;
  cursor: pointer;
}

#effectItem a .active {
  color: red !important;
}

/* -----メニューバー（facial）--------- */
/* 下線を擬似要素で作成 */
#effectItemFacial a::after {
  content: ''; /* 擬似要素に内容を追加 */
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0; /* 初期状態では下線を非表示 */
  height: 2px; /* 下線の太さ */
  background: rgba(130, 190, 200, 1); /* 下線の色 */
  transition: width 0.3s ease; /* アニメーションの速度と効果 */
}

/* カーソルが乗ったときのアニメーション */
#effectItemFacial a:hover::after {
  width: 100%; /* ホバー時に下線が広がる */
}

#effectItemFacial a:hover {
  color: rgba(130, 190, 200, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

/* -----メニューバー（body）--------- */
/* 下線を擬似要素で作成 */
#effectItemBody a::after {
  content: ''; /* 擬似要素に内容を追加 */
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0; /* 初期状態では下線を非表示 */
  height: 2px; /* 下線の太さ */
  background: rgba(120, 160, 220, 1); /* 下線の色 */
  transition: width 0.3s ease; /* アニメーションの速度と効果 */
}

/* カーソルが乗ったときのアニメーション */
#effectItemBody a:hover::after {
  width: 100%; /* ホバー時に下線が広がる */
}

#effectItemBody a:hover {
  color: rgba(120, 160, 220, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

/* -----メニューバー（head）--------- */
/* 下線を擬似要素で作成 */
#effectItemHead a::after {
  content: ''; /* 擬似要素に内容を追加 */
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0; /* 初期状態では下線を非表示 */
  height: 2px; /* 下線の太さ */
  background: rgba(180, 200, 150, 1); /* 下線の色 */
  transition: width 0.3s ease; /* アニメーションの速度と効果 */
}

/* カーソルが乗ったときのアニメーション */
#effectItemHead a:hover::after {
  width: 100%; /* ホバー時に下線が広がる */
}

#effectItemHead a:hover {
  color: rgba(180, 200, 150, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

/* -----メニューバー（hairremoval）--------- */
/* 下線を擬似要素で作成 */
#effectItemHairRemoval a::after {
  content: ''; /* 擬似要素に内容を追加 */
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0; /* 初期状態では下線を非表示 */
  height: 2px; /* 下線の太さ */
  background: rgb(230, 228, 130); /* 下線の色 */
  transition: width 0.3s ease; /* アニメーションの速度と効果 */
}

/* カーソルが乗ったときのアニメーション */
#effectItemHairRemoval a:hover::after {
  width: 100%; /* ホバー時に下線が広がる */
}

#effectItemHairRemoval a:hover {
  color: rgb(230, 228, 130);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

/* -----メニューバー（online facial）--------- */
/* 下線を擬似要素で作成 */
#effectItemOnline a::after {
  content: ''; /* 擬似要素に内容を追加 */
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0; /* 初期状態では下線を非表示 */
  height: 2px; /* 下線の太さ */
  background: rgba(230, 190, 130, 1); /* 下線の色 */
  transition: width 0.3s ease; /* アニメーションの速度と効果 */
}

/* カーソルが乗ったときのアニメーション */
#effectItemOnline a:hover::after {
  width: 100%; /* ホバー時に下線が広がる */
}

#effectItemOnline a:hover {
  color: rgba(230, 190, 130, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

/* -----メニューバー（bridal）--------- */
/* 下線を擬似要素で作成 */
#effectItemBridal a::after {
  content: ''; /* 擬似要素に内容を追加 */
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0; /* 初期状態では下線を非表示 */
  height: 2px; /* 下線の太さ */
  background: rgba(200, 160, 170, 1); /* 下線の色 */
  transition: width 0.3s ease; /* アニメーションの速度と効果 */
}

/* カーソルが乗ったときのアニメーション */
#effectItemBridal a:hover::after {
  width: 100%; /* ホバー時に下線が広がる */
}

#effectItemBridal a:hover {
  color: rgba(200, 160, 170, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

/* -----メニューバー（make lesson）--------- */
/* 下線を擬似要素で作成 */
#effectItemMake a::after {
  content: ''; /* 擬似要素に内容を追加 */
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0; /* 初期状態では下線を非表示 */
  height: 2px; /* 下線の太さ */
  background: rgba(170, 150, 220, 1); /* 下線の色 */
  transition: width 0.3s ease; /* アニメーションの速度と効果 */
}

/* カーソルが乗ったときのアニメーション */
#effectItemMake a:hover::after {
  width: 100%; /* ホバー時に下線が広がる */
}

#effectItemMake a:hover {
  color: rgba(170, 150, 220, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

/* -----------------menu archive --------------- */
.menu_archive_wrap {
  width: 90%;
  height: auto;
  padding: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 248, 227);
  border-radius: 15px;
}

#priiceList {
  font-size: 1rem;
  /* ------------フォントをADSそよ風に指定-------- */
  font-family: ads-soyokaze, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.menu_archive_wrap h2 {
  text-align: center;
  font-size: 0.95rem;
}

.menu_archive_wrap div {
  margin-top: 14%;
}

.menu_archive_ttl {
  display: inline-block;
  margin-top: 6%;
  font-family: ads-soyokaze, sans-serif;
  font-size: 1.28rem;
}

.more {
  display: inline-block;
  margin-left: 4%;
  font-size: 0.8rem;
}

.menu_archive {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

.archive_facial {
  border-bottom: 1.8px solid rgba(130, 190, 200, 1);
}

.archive_facial :hover {
  color: rgba(130, 190, 200, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

.item_facial {
  color: rgb(99, 145, 153);
}

.archive_body {
  border-bottom: 1.8px solid rgba(120, 160, 220, 1);
}

.archive_body :hover {
  color: rgba(120, 160, 220, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

.item_body {
  color: rgb(91, 123, 171);
}

.archive_head {
  border-bottom: 1.8px solid rgba(180, 200, 150, 1);
}

.archive_head :hover {
  color: rgba(180, 200, 150, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

.item_head {
  color: rgb(124, 138, 103);
}

.archive_online {
  border-bottom: 1.8px solid rgba(230, 190, 130, 1);
}

.archive_online :hover {
  color: rgba(230, 190, 130, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

.item_online {
  color: rgb(178, 147, 101);
}

.archive_bridal {
  border-bottom: 1.8px solid rgba(200, 160, 170, 1);
}

.archive_bridal :hover {
  color: rgba(200, 160, 170, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

.item_bridal {
  color: rgb(160, 126, 135);
}

.archive_make {
  border-bottom: 1.8px solid rgba(170, 150, 220, 1);
}

.archive_make :hover {
  color: rgba(170, 150, 220, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

.item_make {
  color: rgb(135, 119, 176);
}

ul {
  padding: 0;
  margin: 0;
}

.menu_archive li {
  border-bottom: 0.18rem dotted rgb(228, 205, 174);
}

.item_name {
  display: block;
  width: 80%;
  height: auto;
  margin: 4% auto 2% auto;
  font-weight: 500;
  font-size: 0.875rem;
}

.item_price {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  text-align: right;
}

/* -------------○○○ facial　○○○------------- */
.menu_content {
  width: 90%;
  height: auto;
  padding: 5% 0 5% 0;
  margin-left: auto;
  margin-right: auto;
}

.menu_ttl_wrap,
.menu_ttl_wrap_online {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  width: 60%;
  height: auto;
  margin: 0 auto 0 auto;
}

.menu_ttl {
  text-align: center;
  /* ------------フォントをkirigirisuに指定-------- */
  font-family: ab-kirigirisu, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
}

.circle,
.circle_online {
  width: 30%;
  height: auto;
}

.add_info {
  width: 90%;
  height: auto;
  font-size: 0.9rem;
  text-align: center;
  margin: 2rem auto 6rem auto;
}

.facial_menu {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

.menu_text_wrap {
  width: 100%;
  height: auto;
  margin-top: 5%;
}

.menu_text {
  width: 100%;
  height: auto;
}

.treatment_name {
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  text-align: center;
  /* ------------フォントをADSそよ風に指定-------- */
  font-family: ads-soyokaze, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.treatment_time {
  width: 100%;
  height: auto;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 6px;
  text-decoration-color: #b1dadc;
}

.point {
  color: #4bb7bb;
  width: 90%;
  height: auto;
  text-align: right;
  /* ------------フォントをADSそよ風に指定-------- */
  font-family: ads-soyokaze, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.text_block {
  width: 100%;
  height: auto;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: #f7e2cae7;
  border-radius: 15px;
}

.price_wrap {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.member_status {
  width: 100%;
  height: auto;
  font-size: 1rem;
  text-align: right;
  margin-right: 1rem;
}

.price {
  width: 100%;
  height: auto;
  font-size: 0.92rem;
  text-align: left;
  margin-left: 1rem;
}

.menu_img {
  width: 100%;
  height: auto;
}

.menu_img img {
  width: 100%;
  height: auto;
}

.text_block_sp {
  display: none;
}

/* ------------------------○○○ facial_option  only ○○○--------------------- */
.facial_option_menu {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

/* ------------------------○○○ body  only ○○○--------------------- */
.body_menu {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

#coupon {
  width: 100%;
  margin-top: 10%;
  margin-bottom: -10%;
  text-align: center;
}

#coupon p {
  font-size: 0.9rem;
  color: #9a8172;
  background-color: #f2f1c1e7;
  display: inline-block;
  border-radius: 14px;
  padding: 1.2rem 1.6rem;
}

.great_value {
  width: 100%;
  font-size: 1rem;
  color: #b3a49c;
}

/* ------------------------○○○ head  only ○○○--------------------- */
.head_menu {
  width: 100%;
  height: auto;
  margin-top: 10%;
}
/* ------------------------○○○ hair removal  only ○○○--------------------- */
#hairRemoval {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ------------------------○○○ online_facial  only ○○○--------------------- */
.online_facial_menu {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

/* ------------------------○○○ bridal  only ○○○--------------------- */
.bridal_menu {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

/* ------------------------○○○ make  only ○○○--------------------- */
.make_menu {
  width: 100%;
  height: auto;
  margin-top: 10%;
}
