/* -----タブレット向け---画面幅が1023pxを下回った時に適用される----- */
@media screen and (max-width: 1023px) {
}
/* -----スマホ向け---画面幅が767pxを下回った時に適用される----- */
@media screen and (max-width: 767px) {
  #effectItem a {
    font-size: 0.8rem;
  }

  .text_block {
    font-size: 0.8rem;
  }

  .treatment_name {
    font-size: 1rem;
  }
}
/* -----小型スマホ向け---画面幅が480pxを下回った時に適用される----- */
@media screen and (max-width: 480px) {
  #effectItem a {
    font-size: 0.6rem;
  }

  .text_block {
    font-size: 0.6rem;
  }

  .treatment_name {
    font-size: 0.88rem;
  }
}
