/* -----大きいPC幅向け---画面幅が1200pxを上回った時に適用される----- */
@media screen and (min-width: 1200px) {
  header,
  #navArea,
  main,
  footer,
  #conceptWrap,
  #therapistWrap {
    max-width: 1200px;
    margin: 2% auto;
  }
}
/* -----タブレット向け---画面幅が1023pxを下回った時に適用される----- */
@media screen and (max-width: 1023px) {
  /* ---------------------- PC用ナビゲーション --------------------*/
  #navPc {
    width: 72%;
  }
  /* -------------------------concept--------------------------- */
  #salonTxt2 {
    font-size: 1.6rem;
  }
}

/* -----スマホ向け---画面幅が767pxを下回った時に適用される----- */
@media screen and (max-width: 767px) {
  /* ---------------------- PC用ナビゲーション --------------------*/
  #navPc {
    display: none;
  }
  /*---------------------- ハンバーガーナビゲーション ---------------*/
  #navArea {
    display: flex;
  }

  /* -----------------------line------------------------------ */
  #line {
    position: fixed;
    bottom: 2%;
    right: 0%;
    width: 60%;
    height: auto;
    z-index: 1000;
  }

  #line_icon {
    width: 100%;
    height: auto;
  }

  #line_icon img {
    width: 100%;
    height: auto;
  }
  /* -------------------------concept--------------------------- */
  #salonTxt {
    font-size: 1.2rem;
  }

  #salonTxt2 {
    font-size: 1rem;
  }

  .salonTxt3 {
    font-size: 0.875rem;
  }

  #problem {
    font-size: 1.4rem;
  }

  /* ------------------------therapist ------------------------- */

  #therapistContent2 {
    display: block;
    padding-bottom: 20%;
  }

  #therapistTxt2 {
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .career {
    margin: 6% auto 0 auto;
    text-align: center;
  }

  #therapistImg2 {
    margin: 20% auto 0 auto;
  }

  #therapistTxt2,
  #therapistTxt3 p,
  #therapistTxt2Name,
  #therapistTxt2From {
    font-size: 0.875rem;
  }

  #map {
    width: 100%;
    margin: 10% auto 10% auto;
    background-color: pink;
  }

  /* -------------------------banner-------------------------- */
  #banner {
    display: block;
    margin-bottom: 10%;
  }

  /* ----------------------------- school ---------------------- */
  #school {
    margin-left: auto;
    margin-right: auto;
  }

  /* ----------------------------- goods ---------------------- */
  #goods {
    margin: 4% auto 0 auto;
  }

  /* ------------------------ footer ---------------------- */
  #footerSalonIcon {
    width: 2.4rem;
    height: auto;
  }
  .footer_li img {
    width: 80%;
    height: auto;
  }
  #copy {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    text-align: center;
  }
  /* ------------contactページ-------------------- */
  #name,
  #phone,
  #email,
  #message {
    width: 64%;
    background-color: #ece3d9;
    border-radius: 10px;
  }
}

/* -----小型スマホ向け---画面幅が480pxを下回った時に適用される----- */
@media screen and (max-width: 480px) {
  #salonIcon {
    width: 10%;
  }
  /* -----PC用ナビゲーション------ */
  #navPc {
    display: none;
  }
  /* ------タイトル------ */
  .mainTitle {
    font-size: 1rem;
    letter-spacing: -3px;
  }
  /* ------------- concept ---------- */
  .content_ttl {
    font-size: 1.2rem;
    letter-spacing: -3px;
  }
  #salonTxt {
    font-size: 0.875rem;
  }
  #salonTxt2 {
    font-size: 0.875rem;
  }

  .salonTxt3 {
    font-size: 0.875rem;
  }

  #problem {
    font-size: 1.2rem;
  }
  /* ----------therapist ------------- */
  #therapistTxt2,
  #therapistTxt3 p,
  #therapistTxt2Name,
  #therapistTxt2From {
    font-size: 0.875rem;
  }

  #therapistImg2 {
    margin-top: 40%;
  }

  #therapistContent3 {
    background-image: url('../assets/img/bird-3.png');
    background-size: 35%;
    background-position: calc(32%) calc(97%);
  }
  /* ----------sns------------------- */
  #snsWrap p {
    font-size: 0.875rem;
  }
  #instagram h3,
  #facebook h3,
  #ameblo h3 {
    font-size: 0.875rem;
  }
  /* ----------access------------- */
  #accessContent p {
    font-size: 0.875rem;
  }
  #map iframe {
    width: 100%;
    height: 20rem;
  }
  /* ------------footer------------ */
  #footerContent {
    margin-top: 10%;
  }
  #footerSalonIcon {
    width: 7%;
    margin-bottom: -8%;
  }

  #footerNav {
    width: 100%;
    height: auto;
  }

  .footer_sns_icon img {
    width: 60%;
    height: auto;
  }
  /* ------------- contactページ ------------- */
  #contact {
    font-size: 0.875rem;
  }
  .contact_name,
  .contact_phone,
  .contact_email,
  .contact_date,
  .contact_time,
  #requesMenu,
  #otherContacts {
    font-size: 0.875rem;
  }

  #name,
  #phone,
  #email,
  #message {
    width: 50%;
    background-color: #ece3d9;
    border-radius: 10px;
  }
}
