/* -----タブレット向け---画面幅が1023pxを下回った時に適用される----- */
@media screen and (max-width: 1023px) {
  /* ---------------------- PC用ナビゲーション --------------------*/
  #navPc {
    width: 72%;
  }
}
/* -----スマホ向け---画面幅が767pxを下回った時に適用される----- */
@media screen and (max-width: 767px) {
  /* ---------------------- PC用ナビゲーション --------------------*/
  #navPc {
    display: none;
  }
  /*---------------------- ハンバーガーナビゲーション ---------------*/
  #navArea {
    display: flex;
  }
  /* -------------------------concept--------------------------- */
  #salonTxt,
  #salonTxt2 {
    font-size: 1.4rem;
  }

  #problem {
    font-size: 1.4rem;
  }
  /* -------------------------banner-------------------------- */
  #banner {
    display: block;
    margin-bottom: 10%;
  }

  /* ----------------------------- school ---------------------- */
  #school {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #school img {
    width: 100%;
    height: auto;
  }

  /* ----------------------------- goods ---------------------- */
  #goods {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin: auto;
  }

  #goods img {
    width: 100%;
    height: auto;
  }

  /* ------------------------ footer ---------------------- */
  #footerSalonIcon {
    width: 2.4rem;
    height: auto;
  }
  .footer_li img {
    width: 80%;
    height: auto;
  }
  #copy {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    text-align: center;
  }
}

/* -----小型スマホ向け---画面幅が480pxを下回った時に適用される----- */
@media screen and (max-width: 480px) {
  #salonIcon {
    width: 10%;
  }
  /* -----PC用ナビゲーション------ */
  #navPc {
    display: none;
  }
  /* ------タイトル------ */
  .mainTitle {
    font-size: 1rem;
    letter-spacing: -3px;
  }
  #subTitle {
    width: 32%;
    height: auto;
    padding-top: 3%;
    position: absolute;
    top: 5rem;
    right: 3%;
  }
  /* ------------- concept ---------- */
  .content_ttl {
    font-size: 1.2rem;
    letter-spacing: -3px;
  }
  #salonTxt {
    font-size: 0.7rem;
  }
  #salonTxt2 {
    font-size: 1rem;
  }
  #problem {
    font-size: 1.2rem;
  }
  /* ----------therapist ------------- */
  #salonTxtWrap2,
  #therapistTxt2,
  #therapistTxt3 p,
  #therapistTxt2Name,
  #therapistTxt2From {
    font-size: 0.7rem;
  }
  #therapistContent2 {
    background-image: url('../assetts/img/bird-2.png');
    background-size: 20%;
    background-position: calc(10%) calc(100%);
  }
  #therapistContent3 {
    background-image: url('../assetts/img/bird-3.png');
    background-size: 35%;
    background-position: calc(32%) calc(97%);
  }
  /* ----------sns------------------- */
  #snsWrap p {
    font-size: 0.8rem;
  }
  #instagram h3,
  #facebook h3,
  #ameblo h3 {
    font-size: 0.8rem;
  }
  /* ----------access------------- */
  #accessContent p {
    font-size: 0.7rem;
  }
  #map iframe {
    width: 100%;
    height: 20rem;
  }
  /* ------------footer------------ */
  #footerContent {
    margin-top: 10%;
  }
  #footerSalonIcon {
    width: 7%;
    margin-bottom: -8%;
  }
  #footerNav {
    width: 98%;
  }
  .footer_sns_icon li {
    width: 33%;
  }
  #copy {
    font-size: 0.5rem;
  }
  /* ------------- contactページ ------------- */
  #contact {
    font-size: 0.8rem;
  }
  .contact_name,
  .contact_phone,
  .contact_email,
  .contact_date,
  .contact_time,
  #requesMenu,
  #otherContacts {
    font-size: 0.8rem;
  }
}
