body {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0;
  background-color: #fffcef;
  /* フォントを追加（筑紫A丸ゴシック） */
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #6c6059;
}

a {
  color: inherit; /*親要素の色を引き継*/
  text-decoration: none; /*架線を消す*/
}

/* アイコンとPC用ナビゲーションとハンバーガーナビゲーションを横並びにさせる (両端に配置)*/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#salonIcon {
  width: 10%;
  height: auto;
}

#salonIcon img {
  width: 100%;
  height: auto;
}

/* ---------------------- PC用ナビゲーション --------------------*/
#navPc {
  width: 60%;
  height: auto;
  margin-right: 5%;
  z-index: 1000;
}

.nav_pc_ul {
  position: relative;
  /* pc用ナビの中身を横一列に配置 */
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top: 5%;
}

.nav_pc_list img {
  width: 100%;
  height: auto;
}

#dropDown {
  position: absolute;
  top: 100%;
  left: 10%;
  z-index: 100;
  width: 60%;
  height: auto;
  padding-top: 4%;
  margin: 0;
  background-color: #ffffff;
  border-radius: 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* ドロップダウンは通常時は隠しておく */
  visibility: hidden;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}

#dropDown p {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#dropDown a {
  color: #6c6059;
  text-decoration: none;
}

#dropDown a:hover {
  color: hsl(29, 37%, 74%);
}

#menu:hover #dropDown {
  visibility: visible;
  opacity: 1;
}

.nav_sns_icon {
  margin-left: 4%;
}

/*---------------------- ハンバーガーナビゲーション ---------------*/
#navArea {
  display: none;
  position: fixed;
  top: 10%;
  right: 0%;
  width: 50%;
  height: auto;
  pointer-events: none;
  z-index: 9999;
}
.open #navArea {
  pointer-events: auto;
}

.toggle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 6%;
  right: 1rem;
  width: 40px;
  height: 34px;
  background-color: #ffffff;
  border-radius: 16%;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10000;
}

.toggle-btn span {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #6c6059;
}

.toggle-btn span:nth-child(1) {
  top: 4px;
  transition-duration: 1s;
}

.toggle-btn span:nth-child(2) {
  top: 14px;
  transition-duration: 0.9s;
}

.toggle-btn span:nth-child(3) {
  top: 24px;
  transition-duration: 0.5s;
}

.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
  transition-duration: 1s;
}

.open .toggle-btn span:nth-child(2) {
  /* opacity: 0; */
  transition-duration: 1s;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(+315deg);
  transition-duration: 1s;
}

.open #navHum {
  right: -10px;
  opacity: 1;
}

#navHum {
  display: block;
  position: relative;
  top: 2%;
  right: -100%;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
  transition: all 0.5s;
  pointer-events: auto;
  z-index: 100000;
}

#navHum ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  width: 100%;
  height: auto;
  padding: 0;
  margin: 5% auto;
}

.hum_item_wrap {
  display: block;
  width: 100%;
  height: auto;
  /* フォントを’ab-kirigirisu’に指定する*/
  font-family: ab-kirigirisu, sans-serif;
  /* 文字間隔を狭める */
  letter-spacing: 0px;
  font-style: normal;
  text-align: center;
}

#navHum a {
  display: block;
  width: 100%;
  padding: 4% 0 4% 0;
  font-size: 1rem;
  color: #6c6059;
  text-decoration: none;
}

#hum_icon_wrap {
  display: flex;
  width: 100%;
  height: auto;
  margin: 1% auto 1% auto;
  cursor: pointer;
}

.hum_insta,
.hum_facebook {
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  text-align: center;
}

.hum_insta a {
  display: block;
  width: 100%;
}

.hum_insta img,
.hum_facebook img {
  width: 8%;
  height: auto;
}

.hum_item_wrap :hover,
.hum_insta :hover,
.hum_facebook :hover {
  background-color: #d6bda5;
  border-radius: 15px;
}
/* -----------------------main------------------------------ */
main {
  position: relative;
  width: 100%;
  height: auto;
}
/* -----------------------タイトル------------------------------ */
.mainTitle {
  width: 100%;
  height: auto;
  color: #9e7f63;
  /* フォントを’ab-kirigirisu’に指定する */
  font-family: ab-kirigirisu, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  /* 文字間隔を狭める */
  letter-spacing: -4px;
}

#subTitle {
  position: absolute;
  top: 4.4%;
  right: 4%;
  width: 24%;
  height: auto;
}

#subTitle img {
  width: 100%;
  height: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ---------------------パソコン用トップページ画像---------------------*/
#mainVisualPc {
  width: 100%;
  height: auto;
  padding-top: 10%;
}

/* ---------------------スマホ用トップページ画像---------------------*/
#mainVisualSp {
  display: none;
}
/* ----------------------------concept-------------------------*/
#conceptWrap {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-left: calc(-50vw + 50%);
  padding: 50px 0 50px 0;
  background-image: url('../assetts/img/flower.png');
  background-repeat: no-repeat;
  background-size: 6rem;
  background-position: calc(100%) calc(110%);
}

/* content_ttlは各タイトルを装飾するためのクラス名 */
.content_ttl {
  width: max-content;
  margin: auto;
  /* フォントを’ab-kirigirisu’に指定する*/
  font-family: ab-kirigirisu, sans-serif;
  /* 文字間隔を狭める */
  letter-spacing: -5px;
  font-style: normal;
  color: #d6bda5;
}

#conceptContent1 {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#conceptDescription {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 5%;
}

#salonTxtWrap {
  width: 100%;
  height: auto;
  text-align: center;
}

#salonTxt {
  display: block;
  margin-top: 20%;
  color: #9e7f63;
  font-size: 2rem;
  /* フォントを’ads-soyokaze’に指定する*/
  font-family: ads-soyokaze, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px; /*文字間隔*/
  line-height: 1.8; /*行間*/
}

#conceptImg {
  width: 100%;
  height: auto;
}

#conceptImg img {
  width: 100%;
  /* マスクを設定*/
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );

  /* マスクのその他の設定 */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.image_gallery {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.image_slide_pc {
  width: 33.33%;
  height: auto;
  overflow: hidden;
}

.image_slide_pc img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 3.5s ease-out forwards;
}

#conceptContent2 {
  width: 80%;
  height: auto;
  margin: 5rem auto 0 auto;
}

#conceptDescription2 {
  width: 100%;
  height: auto;
}

/* ---身近なものでキレイにかわいくなれる方法を・・・-- */
#salonTxt2 {
  display: block;
  margin: 10% auto 10% auto;
  width: 100%;
  height: auto;
  font-size: 2rem;
  color: #9e7f63;
  text-align: center;
  /* フォントを’ads-soyokaze’に指定する*/
  font-family: ads-soyokaze, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px; /*文字間隔*/
  line-height: 2.4; /*行間*/
}

#therapistImg1 {
  display: grid;
  place-items: center; /*縦横の中央揃え*/
  width: 50%;
  height: auto;
  text-align: center;
}

#therapistImg1 img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* ---セラピスト画像の縁をぼかす---- */
#therapistImg1 img,
#therapistImg2 img,
#therapistImg3 img {
  /* マスクを設定 */
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );

  /* マスクのその他の設定 */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

#beauty,
#cute {
  color: rgb(255, 181, 128);
}

#conceptContent3 {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

#salonTxtWrap3 {
  width: 100%;
  height: auto;
}

#salonTxt3 {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.95rem;
}

#problem {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
  color: rgb(105, 181, 215);
  /* フォントを’ads-soyokaze’に指定する*/
  font-family: ads-soyokaze, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px; /*文字間隔*/
  line-height: 1.8; /*行間*/
}

/* ------------------------therapist-------------------------- */
#therapistWrap {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 10%;
  margin-left: calc(-50vw + 50%);
}

#therapistContent2 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 10% auto 0 auto;
  padding-bottom: 10%;
  background-image: url('../assetts/img/bird-2.png');
  background-repeat: no-repeat;
  background-size: 16%;
  background-position: calc(14%) calc(90%);
}

#therapistTxt2 {
  width: 50%;
  height: auto;
  text-align: center;
}

#therapistTxt2Name {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  margin-top: 10%;
}

#therapistTxt2From {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  margin-top: 10%;
}

.career {
  display: block;
  margin-top: 10%;
  margin-right: 8%;
  text-align: left;
}

#therapistImg2 {
  width: 50%;
  height: auto;
  margin-top: 10%;
}

#therapistImg2 img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#therapistContent3 {
  display: flex;
  width: 80%;
  height: auto;
  padding-bottom: 10rem; /*小鳥の画像を下方に置くために*/
  margin: 5rem auto 0 auto;
  background-image: url('../assetts/img/bird-3.png');
  background-repeat: no-repeat;
  background-size: 24%;
  background-position: calc(90%) calc(80%);
}

#therapistImg3 {
  display: grid;
  place-items: center; /*縦横の中央揃え*/
  width: 30%;
  height: auto;
  text-align: center;
}

#therapistImg3 img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#therapistTxt3 {
  width: 90%;
  height: auto;
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}

.about-me {
  display: block;
  margin-top: 8%;
  margin-left: 8%;
}

/* -----------------------sns--------------------------------- */

#snsWrap {
  width: 100%;
  height: auto;
  margin-top: 10%;
  padding: 5rem 0 5rem 0;
  text-align: center;
}

#snsWrap p {
  width: 100%;
  height: auto;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

#snsContent {
  width: 80%;
  height: auto;
  margin: 10% auto 0 auto;
}

#snsContent ul {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: space-around;
}

#snsContent a {
  color: #6c6059;
  text-decoration: none;
}

#instagram {
  width: 30%;
  padding: 0%;
  margin: 0%;
  /* インスタの画像を中央に寄せる */
  text-align: center;
  border: 2px solid rgba(130, 190, 200, 1);
  border-radius: 15px;
  /* background-color: rgba(130, 190, 200, 1); */
}

#instagram a,
#facebook a,
#ameblo a {
  display: block;
  margin: 0.1rem;
}

#instagram h3 {
  font-size: 100%;
}

/* -----カーソルが乗った時にじんわりと色が変わる------ */
#instagram :hover {
  color: rgba(130, 190, 200, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

#instagram img {
  width: 13%;
  height: auto;
}

#facebook {
  width: 30%;
  /* facebookの画像を中央に寄せる */
  text-align: center;
  border: 2px solid rgba(230, 190, 130, 1);
  border-radius: 15px;
}

#facebook h3 {
  font-size: 100%;
  /* background-color: whitesmoke; */
}

/* -----カーソルが乗った時にじんわりと色が変わる------ */
#facebook :hover {
  color: rgba(230, 190, 130, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

#facebook img {
  width: 13%;
  height: auto;
}

#ameblo {
  width: 30%;
  text-align: center;
  border: 2px solid rgba(170, 150, 220, 1);
  border-radius: 15px;
}

#ameblo h3 {
  font-size: 100%;
}

/* -----カーソルが乗った時にじんわりと色が変わる------ */
#ameblo :hover {
  color: rgba(170, 150, 220, 1);
  transition: color 0.3s ease; /* アニメーションの速度と効果 */
}

#ameblo img {
  width: 13%;
  height: auto;
}

/*------------------------- access ----------------------------*/

#accessWrap {
  width: 100%;
  height: auto;
  margin-top: 10%;
  padding: 5rem 0 5rem 0;
}

#accessContent {
  width: 80%;
  height: auto;
  margin: 2rem auto 0 auto;
}

#map {
  width: 80%;
  height: auto;
  margin: 10% auto 10% auto;
}

#map iframe {
  width: 100%;
}

#accessContent section {
  width: 100%;
  height: auto;
  text-align: center;
}

.itemTtl {
  font-size: 0.8rem;
  padding-top: 20px;
  color: #d6bda5;
}

.dot_line {
  border-bottom: 4px dotted #e3dad5;
  width: 100%;
  height: 0;
  margin: 0;
}

/*------------------------------ banner ---------------------- */
#banner {
  display: flex;
  margin-bottom: 10%;
}

/* ----------------------------- school ---------------------- */
#school {
  width: 70%;
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
}

#school img {
  width: 100%;
  height: auto;
}

/* ----------------------------- goods ---------------------- */
#goods {
  width: 30%;
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
}

#goods img {
  width: 100%;
  height: auto;
}

/* ----------------------------- footer ---------------------- */

#footerSalonIcon {
  width: 4rem;
  height: auto;
  margin: 16% auto 0 auto;
}

#footerSalonIcon img {
  width: 100%;
  height: auto;
}

#footerNav {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}

.footer_ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: auto;
  padding: 0;
  margin: 50px auto 0 auto;
  /* background-color: aquamarine; */
}

.footer_li {
  text-align: center;
}

.footer_li img {
  width: 60%;
  height: auto;
}

.footer_sns_icon {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 50px auto auto auto;
}

.footer_sns_icon li {
  width: 2rem;
  height: auto;
  padding: 0%;
  margin: 0%;
}

.footer_sns_icon img {
  width: 80%;
  height: auto;
}

#copy {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
